{
  "release": {
    "branches": [
      "main",
      "next"
    ]
  },
  "tagFormat": "${version}",
  "repository": "https://github.com/CigaretteAfterCoding/amadda-ui",
  "plugins": [
    "@semantic-release/github"
  ]
}