{
  "branches": [
    "+([0-9])?(.{+([0-9]),x}).x",
    "main",
    "env/releaserc",
    "next",
    {
      "name": "beta",
      "prerelease": true
    },
    {
      "name": "alpha",
      "prerelease": true
    }
  ],
  "tagFormat": "${version}",
  "repository": "https://github.com/CigaretteAfterCoding/amadda-ui",
  "plugins": [
    "@semantic-release/github"
  ]
}