name: Publish npm package
on:
  push:
    branches:
      - main
jobs:
  publish-npm-package :
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16.x'
      - run: yarn npm login
      - run: echo "bong0418"
      - run: yarn npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
